.panelAdminContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--fondoClaro);
}

.panelAdminContainerCardClima{
  background-color: #e8fcfc;
  border-radius: 20px;
  
}

.panelAdminContainerClima{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}

.panelAdminColorClima{
  width: 100%;
  background-color: rgb(197, 197, 197);
}

.panelAdminColorAeronaves{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(197, 197, 197);
}

.table--showColors tr:nth-child(odd) {
  background: var(--azulClaro);
}
/*
.table--showColors tr:nth-child(even) {
  background: #555;
}
*/

.panelAdminBotonCambiarColores {
  width: 150px;
  height: 30px;
  background-color: var(--azulOscuro);
  font-size: 18px;
  color: whitesmoke;
  border-radius: 15px;
  border: solid 2px whitesmoke;
  margin-bottom: 20px;
}

@media (max-width: 485px) {

  .panelAdminContainerClima{
      display: flex;
      flex-direction: column;
  }
}