.panelAdminContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--fondoClaro);
}

.table--showColors tr:nth-child(odd) {
  background: #333;
}

.table--showColors tr:nth-child(even) {
  background: #555;
}
