.contacto {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(255, 254, 254);
    padding: 20px 10px;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    width: fit-content;
    background-color: #49638a;
    margin: 0 10px 0 10px;

    /* Box Shadow */
    -webkit-box-shadow: 0px 0px 6px 7px rgba(255, 255, 255, 0.74);
    box-shadow: 0px 0px 6px 7px rgba(255, 255, 255, 0.74);
}

.container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* Agrega margen entre los contenedores */


    .texto {
        font-size: clamp(1em, 1.2em, 2em);
        text-align: center;

        .resaltar{
            font-weight:bold;
            color: #c49696;
        }
    }
.iconos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    .fila-iconos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        .bi{
            height: clamp(3em,9em,3vw);
            width: auto;
        }
        .bi:hover{
            cursor: pointer;
            transform:scale(1.2);
        }
        #insta{
            font-size: clamp(3.5em,15em,4vw); /* change this to change the size*/
        }
        #insta:hover{
            cursor: pointer;
            transform:scale(1.2);
        }
        .bi-whatsapp{
            fill: var(--whatsapp);
        }
        .bi-facebook{
            fill: var(--facebook);
        }
        .bi-twitter-x{
            fill: var(--x);
        }
    }
}   
}

@media screen and (max-width: 550px) {
    .contacto {
        flex-direction: column;
        gap: 10px;
    }
    iframe{
        width: 100%;
        height: auto;
    }
}