.nav-item a:hover{
    transform:scale(1.2);
    transition: all 100ms ease-in-out;
    padding-left: 20px;
    text-shadow: 6px 3px 20px #6f0764;
  }

.nav-link{
  font-size: clamp(1em,1.4em,2em);
  font-family: 'Roboto';
  font-weight: 600;
}
#navbarNav{
    padding-left: 40px;
}

.navbar-nav{
  gap: 1.5vw;
}

.navbar{
  .container-fluid{
    .navbar-brand{
      /* font-size: clamp(1em,2em,4em); */
      font-size: clamp(1em,1.4em,2em);
      font-family: 'Roboto';
      font-weight: 600;
    }
  }
}