.panelAsociadoContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
    min-height: 100vh;
    background-color: var(--fondoClaro);
    padding-bottom: 10px;
  }
  .filaPanelAsociado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 0;
    width: fit-content;
  }
  .colorFilaPanelAsociado{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(197, 197, 197);
  }

  .colorTablaPanelAsociado{
    padding: 40px;
  }

  .TablaTurnos{
    max-width: 95%;
  }

  




  .panelAsociadoContainerCardClima {
    background-color: #e8fcfc;
    border-radius: 20px;
  }
    
  .panelAsociadoContainerClima{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
  }
  
  .panelAsociadoColorClima{
    width: 100%;
    background-color: rgb(197, 197, 197);
  }
  