.panelAsociadoContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
    min-height: 100vh;
    background-color: var(--fondoClaro);
    padding-bottom: 10px;
  }
  .filaPanelAsociado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

  }
  .TablaTurnos{
    max-width: 95%;
  }
  .panelAsociadoContainerCardClima {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 200px;
    border: 5px solid var(--azulOscuro);
    border-radius: 20px;
    background-color: #fff6e0;
    margin-top: 40px;
  }
  